.myTitle{
    color:red;
    border:1px solid black;
    margin: 5px;
    width: 1000px;
    height: 50px;
}
.myBody{
    float:left; 
    margin: 5px;
    display:inline;
}
.canvas{
    border:1px solid black;
    width: 800px;
    height: 600px;
    top:60px;
}
.button{
    border:1px solid black;
    width: 193px;
    height: 600px;
    margin: 10px;
    position: absolute;
    top:60px;
    left: 810px;

}
.sunButton{
    border:1px solid black;
    margin: 5px;
    width: 183px;
    height: 50px;
    font-size: 8pt;
    text-align: center;
    line-height: 50px;
}
