body {
  margin: 0;
}
.board {
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 1ï¼›
}
.panel {
  position: absolute;
  left: 650px;
  top: 100px;
  width: 200px;
  height: 450px;
  z-index: 1;
  background-color: antiquewhite;
}
.content {
  font-size: 24px;
}
.cell {
  position: absolute;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.selected {
  border: 3px solid red;
}
.item-0 {
  display: none;
}
.item-1 {
  background-image: url('./images/apple.png');
  background-size: 50px 50px;
}
.item-2 {
  background-image: url('./images/cherry.png');
  background-size: 50px 50px;
}
.item-3 {
  background-image: url('./images/grape.png');
  background-size: 50px 50px;
}
.item-4 {
  background-image: url('./images/lemon.png');
  background-size: 50px 50px;
}
.item-5 {
  background-image: url('./images/orange.png');
  background-size: 50px 50px;
}
.item-6 {
  background-image: url('./images/pear.png');
  background-size: 50px 50px;
}
.item-7 {
  background-image: url('./images/pineapple.png');
  background-size: 50px 50px;
}
.item-8 {
  background-image: url('./images/strawberry.png');
  background-size: 50px 50px;
}
.item-9 {
  background-image: url('./images/watermelon.png');
  background-size: 50px 50px;
}
.item-10 {
  background-image: url('./images/halfapple2.png');
  background-size: 50px 50px;
}
.item-11 {
  background-image: url('./images/halforange2.png');
  background-size: 50px 50px;
}
.item-12 {
  background-image: url('./images/halfpear2.png');
  background-size: 50px 50px;
}
.item-13 {
  background-image: url('./images/halfpineapple2.png');
  background-size: 50px 50px;
}
.item-14 {
  background-image: url('./images/halfstrawberry2.png');
  background-size: 50px 50px;
}
.item-15 {
  background-image: url('./images/orange2.png');
  background-size: 50px 50px;
}
.item-16 {
  background-image: url('./images/pear2.png');
  background-size: 50px 50px;
}
.item-17 {
  background-image: url('./images/strawberry2.png');
  background-size: 50px 50px;
}
.item-18 {
  background-image: url('./images/watermelon2.png');
  background-size: 50px 50px;
}
.item-19 {
  background-image: url('./images/redapple.png');
  background-size: 50px 50px;
}
.lines {
  width:100%;
  height:100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}